.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .post {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  @media (min-width: 768px) {
    .post {
      width: 50%;
    }
  }
  @media (min-width: 1024px) {
    .post {
      width: 33.33%;
    }
  }
  .post {
    width: 400px;
    margin: 20px auto;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  .profile-section {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .profile-image {
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .profile-info {
    flex-grow: 1;
  }
  
  .profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .profile-username,
  .profile-email,
  .profile-phone,
  .profile-website {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .profile-section {
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: #3290ce;
        width: 100%; /* Abarcar toda la parte horizontal */
        box-sizing: border-box; /* Incluir el padding en el ancho total */
    }
  
    .profile-image {
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
    }
  
    .profile-name {
      font-size: 20px;
      margin-bottom: 3px;
    }
  
    .profile-username,
    .profile-email,
    .profile-phone,
    .profile-website {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }
  
 